[submodule "veld_chain_5_apis_ner_evaluate_old_models"]
	path = veld_chain_5_apis_ner_evaluate_old_models
	url = git@github.com:acdh-oeaw/veld_chain_5_apis_ner_evaluate_old_models.git
[submodule "veld_chain_6_apis_ner_transform_to_gold"]
	path = veld_chain_6_apis_ner_transform_to_gold
	url = git@github.com:acdh-oeaw/veld_chain_6_apis_ner_transform_to_gold.git
[submodule "veld_chain_7_train"]
	path = veld_chain_7_train
	url = https://gitlab.oeaw.ac.at/acdh-ch/nlp/veld_chain_7_train.git
[submodule "veld_chain_8_clean_apis_ner"]
	path = veld_chain_8_clean_apis_ner
	url = git@github.com:acdh-oeaw/veld_chain_8_clean_apis_ner.git
[submodule "veld_executable_3_apis_ner_evaluate_old_models"]
	path = veld_executable_3_apis_ner_evaluate_old_models
	url = git@github.com:acdh-oeaw/veld_executable_3_apis_ner_evaluate_old_models.git
[submodule "veld_executable_4_apis_ner_transform_to_gold"]
	path = veld_executable_4_apis_ner_transform_to_gold
	url = git@github.com:acdh-oeaw/veld_executable_4_apis_ner_transform_to_gold.git
[submodule "veld_executable_5_simple_docker_test"]
	path = veld_executable_5_simple_docker_test
	url = git@github.com:acdh-oeaw/veld_executable_5_simple_docker_test.git
[submodule "veld_executable_6_convert_ner_json_to_spacy_docbin"]
	path = veld_executable_6_convert_ner_json_to_spacy_docbin
	url = git@github.com:acdh-oeaw/veld_executable_6_convert_ner_json_to_spacy_docbin.git
[submodule "veld_executable_7_train_spacy_ner"]
	path = veld_executable_7_train_spacy_ner
	url = git@github.com:acdh-oeaw/veld_executable_7_train_spacy_ner.git
[submodule "veld_executable_8_clean_apis_ner"]
	path = veld_executable_8_clean_apis_ner
	url = git@github.com:acdh-oeaw/veld_executable_8_clean_apis_ner.git
[submodule "veld_data_5_apis_ner_gold"]
	path = veld_data_5_apis_ner_gold
	url = https://gitlab.oeaw.ac.at/acdh-ch/nlp/veld_data_5_apis_ner_gold.git
[submodule "veld_data_6_apis_ner_models"]
	path = veld_data_6_apis_ner_models
	url = https://gitlab.oeaw.ac.at/acdh-ch/nlp/veld_data_6_apis_ner_models.git
[submodule "spacy-ner"]
	path = spacy-ner
	url = https://gitlab.oeaw.ac.at/acdh-ch/apis/spacy-ner.git
[submodule "veld_executable_9_jupyter_notebook_base"]
	path = veld_executable_9_jupyter_notebook_base
	url = git@github.com:acdh-oeaw/veld_executable_9_jupyter_notebook_base.git
[submodule "veld_executable_10_akp_ner"]
	path = veld_executable_10_akp_ner
	url = git@github.com:steffres/veld_executable_10_akp_ner.git
[submodule "veld_chain_9_akp_ner"]
	path = veld_chain_9_akp_ner
	url = git@github.com:acdh-oeaw/veld_chain_9_akp_ner.git
[submodule "veld_data_7_akp_ner_linkedcat"]
	path = veld_data_7_akp_ner_linkedcat
	url = git@github.com:acdh-oeaw/veld_data_7_akp_ner_linkedcat.git
[submodule "veld_chain_10_apis_ner_to_huggingface"]
	path = veld_chain_10_apis_ner_to_huggingface
	url = git@github.com:acdh-oeaw/veld_chain_10_apis_ner_to_huggingface.git
[submodule "veld_executable_11_publish_to_hf"]
	path = veld_executable_11_publish_to_hf
	url = file://./veld_executable_11_publish_to_hf/
